body {
    background-color: lightcyan;
}

h1 {
    color: red;
    font-size: 20px;
}

p {
    color: darkslategray;
    background-color: lightblue;
    font-size: 15px;
}


@media print {
    p {
        background-color: lightcyan;    /*Dejamos el color de los p del mismo del fondo al imprimir*/
        font-size: 25px;
    }
    h1 {
        font-size: 14px;
    }
}