$bckColorBlue: #A8D5E2;

#infoLoginDiv {
    display: none;
    color: red;
    padding-bottom: 1em;
}

#cabecera {
    background-color: $bckColorBlue;
}

.card {
    width: 60%;
}

#searchFormHeader {
    background-color: $bckColorBlue;
}