$colorheaders: #f4d80a;

body {
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
    //font-family: 'Pattaya', sans-serif;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

p {
    padding: 0;
    margin: 0;
}

.err {
    color: red;
}
.success {
    color: green;
}
.hide {
    visibility: hidden;
}

.border-dark {
    border: 2px solid #ff7422 !important;
    color: #bd602a;
}

#logo-img {
    height: 43px;
}
#container-navbar-playlists {
    background-color: #1f1f1f;
    margin-top: 4.1em;
    color: $colorheaders;
    padding: 20px 60px;
}
.header-pl-text {
    margin: 0;
    padding: 3px 0;
    text-shadow: 0px 0px 4px #ff8d00;
}

#container-list-playlists {
    height: 100%;
}

#empty-pl {
    font-size: 35px;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
}

.item-pl {
    background-color: #ff8a45;
    border-bottom: 3px solid #e07200;
}

.item-pl:hover {
    background-color: #ff9150;
}
.img-pl {
    width: 100px;
    height: 100px;
    /* margin: 2px 0px; */
    border: 4px solid black;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-pl {
    margin: 0;
    padding: 33px 0;
    font-size: 27px;
    color: #462300;
    text-shadow: 1px 1px 5px #963c07db;
}
.pl-crud-icon {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: inherit;
    width: 100%;
    font-size: 32px;
    padding: 34px 0;
    cursor: pointer;
    color: #2b1600;
}

#delete-pl {
    text-align: right;
}



.btn-form-login-register {
    background-color: $colorheaders;
    color: black;
}
//Formato texto de error
.error-message {
    color: red;
}



#container-music-list {
    list-style: none;
    background-color: #2b2b2b;
    color: white;
    padding: 15px;
    border: 5px solid #1f1f1f;
    height: 500px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.song-element {

    color: white;
    padding: 5px;
    margin: 10px 0;
    cursor: pointer;


    //color cuando activo
    //background-color: #f4d80af7;
    //color: black;
}

.song-separator {
    border-bottom: 1px solid #f4d80af7;
    margin: 0;
    padding: 0;
}

#add-song {
    text-align: center;
    background-color: $colorheaders;
    color: #2b2b2b;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bold;
}

#player-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}


.delete-song {
    float: right;
    padding: 5px 0;
    cursor: pointer;
}

#text-start-music {
    width: 75%;
    font-size: 35px;
    text-align: center;
    color: #505050;
}

#new-song-button {
    background: none;
    color: inherit;
    border: none;
    padding: 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 100%;
}

#shareResults {
    list-style: none;
    max-height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    text-decoration: none;
}

.searchSeparator {
    width: 100%;
    border-bottom: 1px solid #dee2e6;
    border-top: none;
}

.searchElement {
    justify-content: center;
    align-items: center;
}
.searchItem a {
    text-decoration: none;
    color: black;
}
.btn {
    border-radius: 0px;
}

//footer

.fix-for-footer {
    min-height: 80vh;
}

#footer {
    //height: 2.5rem;
    background-color: #1f1f1f;
    color: white;
    padding: 50px 0px;
}
#container-footer {
    align-items: center;
    justify-content: center;
    text-align: center;
}
.header-footer {
    color: $colorheaders;
}
#img-footer {
    width: 40%;
}

#container-footer div a{
    color: white;
}
.icon-footer {
    font-size: 35px;
}




//PORTADA

#portada_container {
    background-color: #f4d80a;
}
#index-img {
    width: 80%;
    float: right;
}
.mp-0 {
    padding: 0;
    margin: 0;    
}
#title-index {
    position: relative;
    top: 40%;
    font-size: 70px;
    text-shadow: 1px 1px 28px #544a00;
    color: #1b1800;
    text-align: right;
}
#sharesounds-title {
    color: white;
    font-size: 120px;
}
#advantages-container {
    background-color: #101010;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

#advantages-container h2 {
    color: white;
    font-size: 50px;
}

.orange {
    color: $colorheaders;
    font-size: 75px;
}
.orange-bg {
    background-color: $colorheaders;
}
.icon-features {
    font-size: 50px;
    margin-bottom: 20px;
}



div#compatible-services {
    text-align: center;
    background-color: #f3f3f3;
}
div#compatible-services h3 {
    font-size: 35px;
}
div#compatible-services h4 {
    font-size: 30px;
}
div#compatible-services p {
    font-size: 20px;
}
div#compatible-services i.fa-youtube {
    color: red;
    font-size: 90px;
}
div#compatible-services i.fa-soundcloud {
    color: orange;
    font-size: 90px;
}

#first-steps {
    background-color: white;
    text-align: center;

}
#img-firststeps {
    width: 100%;    
}
#first-steps div div.row{
    justify-content: center;
    align-items: center;
}
div#first-steps h3 {
    font-size: 35px;
}
div#first-steps h4 {
    font-size: 30px;
}
div#first-steps p {
    font-size: 20px;
}

//howTo

#container-intro {
    background: black;
    color: white;
    padding-bottom: 30px;
}

#container-intro h2 {
    font-size: 40px;
    color: $colorheaders;
}
#container-intro h3 {
    font-size: 30px;
}
#container-intro p {
    font-size: 25px;
    margin: 0 20px;
}
.img-howto {
    width: 100%;
}
.number-howTo {
    background-color: black;
    color: #ffed68;
    width: 20px;
    height: 20px;
    padding: 15px 20px;
    font-size: 60px;
}
.p-howTo {
    font-size: 20px;
    margin-top: 30px;
}

#howto-container {
    overflow: hidden;
}
#howto-container div.row {
    justify-content: center;
    align-items: center;
}
#text-about {
    
    font-size: 20px;
}


@media screen and (min-width: 769px) and (max-width: 1124px){

    #sharesounds-title {
        font-size: 75px;
    }
    #title-index {
        padding-bottom: 250px;
        font-size: 50px;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px){
    
    #title-index {
        padding-bottom: 250px;
    }
    #advantages-container div.row{
        justify-content: center;
    }
    #sharesounds-title {
        font-size: 100px;
    }
    #container-footer div.text-right {
        text-align: center !important;
        padding: 10px 0;
    }
    #container-footer div.text-left {
        text-align: center !important;
        padding: 10px 0;
    }
    .fix-responsive-navDark {
        justify-content: center !important;
    }
    .center-responsive {
        text-align: center !important;
    }
    .item-pl div.row {
        margin: 25px 0px;
    }

}

@media screen and (max-width: 576px){
    
    #title-index {
        padding-bottom: 250px;
        font-size: 50px;
    }

    #advantages-container div.row{
        justify-content: center;
    }

    #sharesounds-title {
        font-size: 50px;
    }

    #container-footer div.text-right {
        text-align: center !important;
        padding: 10px 0;
    }
    #container-footer div.text-left {
        text-align: center !important;
        padding: 10px 0;
    }
    .number-howTo {
        padding: 0px 20px;
    }
    .fix-responsive-navDark {
        justify-content: center !important;
    }
    .center-responsive {
        text-align: center !important;
    }
}