body {
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
    //font-family: 'Pattaya', sans-serif;
}

p {
    padding: 0;
    margin: 0;
}

#logo-img {
    height: 43px;
}
#container-navbar-playlists {
    background-color: #1f1f1f;
    margin-top: 4.1em;
    color: #f4d80a;
    padding: 20px 60px;
}
.header-pl-text {
    margin: 0;
    padding: 3px 0;
}

#container-list-playlists {
    background-color: red;
    height: 100%;
}

.item-pl {
    background-color: #ff8741;
    border-bottom: 3px solid #e07200;
}
.img-pl {
    width: 100px; 
    height: 100px;
    padding: 10px 0;
}
.text-pl {
    margin: 0;
    padding: 33px 0;
    font-size: 22px;
    color: #633302;
}
.pl-crud-icon {
    font-size: 32px;
    padding: 34px 0;
    cursor: pointer;
    color: #4a2500;
}

#delete-pl {
    text-align: right;
}




//Formato texto de error
.error-message {
    color: red;
}



#container-music-list {
    list-style: none;
    background-color: #2b2b2b;
    color: white;
    padding: 15px;
    border: 5px solid #1f1f1f;
    height: 500px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.song-element {

    color: white;
    padding: 5px;
    margin: 10px 0;


    //color cuando activo
    //background-color: #f4d80af7;
    //color: black;
}

.song-separator {
    border-bottom: 1px solid #f4d80af7;
    margin: 0;
    padding: 0;
}

#add-song {
    text-align: center;
    background-color: #f4d80a;
    padding: 10px;
    color: #2b2b2b;
    border: 2px solid black;
    cursor: pointer;
}

#player-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}