/*pantallas  mas de 996,  lg, xl*/
.header{
	background-color: lime;
	text-align: center;
	border: 2px solid white;
}
.cuadrados{
	background-color: purple;
	text-align: center;
	border: 2px solid white;
}

.desktop{
	background-color: blue;
	text-align: center;
	border: 2px solid white;
}
.cuadrados{
	background-color: purple;
	text-align: center;
	border: 2px solid white;
}
.cuadrados2{
	background-color: grey;
	text-align: center;
	border: 2px solid white;
}
.caras{
	background-color: orange;
	text-align: center;
	border: 2px solid white;
}