.verde {
    background-color: green;
}
.rojo {
    background-color: red;
}
.naranja {
    background-color: orange;
    height: 15em;
}
.azul {
    background-color: blue;
    height: 5em;
}
.rosa {
    background-color: pink;
    height: 5em;
}
p {
    border: 2px solid gray;
}