body {
    background-color: #F6F4F6 !important;
}

#horariosh1 {
    text-align: center;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    color: #0081A7;
}

div.container-fluid {
    background-color: #FAF33E !important;
}

.decoraciones {
    background-color: #0081A7 !important;
}